JWT_ACCESS_SECRET_KEY="your_super_secret_access_key"
JWT_REFRESH_SECRET_KEY="your_super_secret_refresh_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT="5000"
NODE_ENV="production"
DATABASE_URL="mysql://root:password@localhost:3306/ecgbc_db"
DB_ROOT_PASSWORD="rootpassword123"
DB_NAME="ecgbc_db"
DB_USER="ecgbc_user"
DB_PASSWORD="ecgbc_password123"
DB_PORT="3306"
SUPER_ADMIN_EMAIL="admin@ecgbc.org"
SUPER_ADMIN_PASSWORD="ChangeMeStrongPassword123!"

PAYMENT_VERIFY_API_KEY="your_payment_api_key_here"
